/* Style.css */

@import "compass";

$base-font-size: 16px;
$base-line-height: 24px;
$default-rhythm-border-style: solid;
$relative-font-sizing: true;
$round-to-nearest-half-line: false;
$min-line-padding: 2px;
$font-unit: if($relative-font-sizing, 1em, $base-font-size);

/* 0 px */

body {
  font-size: $base-font-size;
  font-family: "open-sans", "Open Sans", sans-serif;
  line-height: $base-line-height;
  //+debug-vertical-alignment()
}

p.sign-in, nav {
  color: #bbb;
  @include rhythm(0.5, 0, 0, 0, 1em);
  a {
    @include link-colors(#777, #555, #777, #777, #777);
    text-decoration: none;
    &:hover {
      text-decoration: underline; } } }

p.sign-in a:before {
      content: "/ "; }

h1 {
  font-family: "republic-web", serif;
  font-weight: normal;
  font-size: 1.4em;
  letter-spacing: -1px;
  @include rhythm(1, 0, 0, 1, 1.75em);
  a {
    background: transparent url('../img/logo.png') 0px 0px no-repeat;
    text-decoration: none;
    padding:.1em 1.35em;
    @include link-colors(#444, #000, #000, #444, #000);
    &:hover {
      text-decoration: none; } } }

h2 {
  border-bottom: 1px solid #cccccc;
  font-weight: 600;
  font-size: 1em;
  @include rhythm(1.5, 0, 0, 0.5, 1em); }

a {
  @include single-transition(color, 0.2s, ease, 0);
  // link-colors: normal, hover, active, visited, focus
  @include link-colors(#369, #001948, #001948, #369, #001948);
  &:hover {
    text-decoration: underline; } }

div.main {
  @include background-image(linear-gradient(#eee, #f7f7f7 50%)); }

.study-map {
  span.problems {
    background: transparent url('../img/problems.png') 1em 0px no-repeat;
    height:20px;
    width:2.5em;
    display: inline-block;
  }
  li {
    position: relative;
    ol {
      margin-left: 0;
    }
    b {font-weight: 400;}
    &.hasChildren:before {
      content: " ";
      display: block;
      position: absolute;
      width: 9px;
      height: 9px;
      background: transparent url('../img/arrows.png') top left no-repeat;
      left:-16px;
      top:.5em; }
    &.open.hasChildren:before {
      background-position: 0px -16px; }
    &.no, &.yes, &.part {
      > a.status {
        background-color: #d699a0;
        content: " ";
        width: 14px;
        height:14px;
        display: inline-block;
        @include border-radius(8px);
        position: relative;
        margin-right: .25em; } }
    &.no > a.status {
      content: "!";
      font-size: 12px;
      font-weight: bold;
      color: #fff;
      text-align: center;
      line-height: 15px;
      text-decoration: none; }
    &.yes > a.status {
      background-color: #9c9; }
    &.part > a.status {
      background-color: #EDcb77; } } }

a.prev, a.next {
  display: inline-block;
  text-decoration: none;
  font-size: .9em;
  padding-top: .5em;
  width:48%;
}
a.next {
  text-align: right;
  float:right; }
  
.related {
  >ol > li {
    padding-left:2em;
  }
  li.video {
    background: transparent url('../img/video.png') top left no-repeat;
  }
  li.problems {
    background: transparent url('../img/problems.png') top left no-repeat;
  }
}


// Video
div.video {
  width: 100%;
  height: 0px;
  padding-bottom:56.2%;
  position: relative;
  iframe {
    position: absolute;
    top:0;
    left: 0;
  }
}




/* 300 px */

@media all and (min-width:300px) {
  section, footer p {
    width: 82%; }
  header {
    padding: 0 9%; }
  .study-map {
    li ol {
      display: none; }
    li.open {
      > ol {
        display: block; } } } }

/* 600 px */

@media all and (min-width:600px) {
  header {
    position: relative;
    nav {
      position: absolute;
      bottom:1.4em;
      right: 9%;
      padding-right:4.5em; } }
  p.sign-in {
    z-index: 2;
    position: absolute;
    right: 9%;
    bottom: 1.4em;
    text-align: right;
    a {
      display: block;
      &:before {
        content: ""; } } }
  h1 {
    margin-left: -1.2em;
    font-size: 1.65em;
    @include rhythm(4, 0, 0, 2, 2em);
    a {
      position: relative;
      top:1px;
      padding-left: 1.2em } }
  section.video {
    width: 82%; }
}



/* 900 px */

@media all and (min-width:900px) {
  h1 {
    font-size: 1.75em;
    a {
      top:0; } }
  header nav {
    padding-right: 5em;
    a {
      padding-left: 1em;
    }
  }
}



/* 1020 px */

@media all and (min-width:1020px) {

  section {
    &.video, &.study-map {
      width:56.64%;
      margin:0 0 0 9%; }
    &.video {
      float: left; }
    &.study-map {
      clear: left;
      padding-top: 1px;
      margin-top: -1px; }
    &.study-guide, &.related, &.similar {
      width:21.875%;
      float:right;
      clear: right;
      margin:0 9% 0 0; } }
}

