!!! 5

%html

  %head
    
    %title Wasatch Education : Charles&rsquo; Law
    
    = Haml::Engine.new(File.read('/Volumes/Macintosh HD/Applications/MAMP/htdocs/wasatch/_header.html.haml')).render
  
  %body
    %header
      %h1(class="main") 
        %a(href="index.html") Wasatch Education
 
    .main
      %section
        The page you were looking for could not be found.