%meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
%meta(name="viewport" content="width=device-width")

%link(rel="stylesheet" href="css/mobile.css")
%link(rel="stylesheet" href="css/bootstrap-all.css")
%link(rel="stylesheet" href="mediaelement/build/mediaelementplayer.min.css")
%link(rel="stylesheet" media="all and (min-width:1px)" href="css/style.css")

%script(type="text/javascript" src="http://use.typekit.com/qmd4aav.js")
%script(type="text/javascript") try{Typekit.load();}catch(e){alert(e)}
%script(src="js/modernizr.min.js")
