%section(class="study-map")
  %h2 Study Map

  %ol(class="standard")
    %li(class="title") Standard Level
    %li
      %span 1 
      %a(href="#") Stoichiometry
      %ol
        %li
          %span 1.1
          Mole concept and Avogadro&rsquo;s constant
        %li
          %span 1.2
          Formulas	 	 
        %li
          %span 1.3 
          Chemical equations	 	 
        %li
          %span 1.4 
          %a(href="#") Moles and gaseous volume relationships in chemical reactions
          %ol
            %li
              %span(class="problems") 
              Theoretical and experimental yields problems
            %li
              %span(class="problems") 
              Ideal gas problems
            %li(class="video")
              %span 1.4.1
              Calculating theoretical yields
            %li(class="video")
              %span 1.4.2
              Limiting reagents
            %li(class="video")
              %span 1.4.3
              Solving problems involving theoretical and experimental yields
            %li(class="video")
              %span 1.4.4
              Avogadro&rsquo;s Law
            %li(class="video")
              %span
              %a.video(href="charles.html") Charles' Law
            %li(class="video") 
              %span
              Boyle's Law
            %li(class="video") 
              %span
              %a.video(href="ideal.html") Ideal Gas Law
            %li(class="video")
              %span 1.4.5
              %a.video(href="molar.html") Molar volume
            %li(class="video")
              %span 1.4.6
              Solving problems relating gas variables at fixed mass
            %li(class="video")
              %span 1.4.7
              Solving problems using PV = nRT
            %li(class="video") 
              %span 1.4.8
              Analyzing graphs using the ideal gas equation
        %li
          %span 1.5 
          Solutions
    %li   	 
      %span 2 
      %a(href="#") Atomic theory
      %ol
        %li 
          %span 2.1 
          The atom
        %li
          %span 2.2 
          The mass spectrometer	 	 
        %li
          %span 2.3 
          %a(href="#") Electron arrangement
          %ol
            %li
              %a(href="#" class="problems") Electron arrangement problems
            %li
              %a(href="#" class="video") Electronic configurations
            %li
              %a(href="#" class="video") Bohr model
            %li
              %a(href="#" class="video") Line spectra
            %li
              %a(href="#" class="video") Energy level calculations
            %li
              %a(href="#" class="video practice") Practice writing electronic configurations
    %li 	 
      %span 3	
      %a(href="#") Periodicity
      %ol
        %li
          %span 3.1
          The periodic table
        %li
          %span 3.2
          Physical properties	
        %li
          %span 3.3
          Chemical properties
        	 
    %li	 
      %span 4	
      %a(href="#") Bonding
      %ol
        %li
          %span 4.1
          Ionic bonding
        %li 
          %span 4.2
          Covalent bonding
        %li
          %span 4.3
          Intermolecular forces
        %li
          %span 4.4
          Metallic bonding	 	 
        %li
          %span 4.5
          Physical properties
        	 
    %li	 
      %span 5	
      %a(href="#") Energetics
      %ol
        %li
          %span 5.1
          Exo and endothermic reactions
        %li
          %span 5.2
          Calculation of enthalpy changes
        %li
          %span 5.3
          Hess' law
        %li
          %span 5.4
          Bond enthalpies	
        	 
    %li 
      %span 6
      %a(href="#") Kinetics
      %ol
        %li
          %span 6.1
          Rates of reaction
        %li
          %span 6.2
          Collision theory
        	 
    %li 
      %span 7
      %a(href="#") Equilibrium
      %ol
        %li
          %span 7.1
          Dynamic equilibrium
        %li
          %span 7.2
          The position of equilibrium
        	 
    %li
      %span 8
      %a(href="#") Acids and Bases
      %ol
        %li
          %span 8.1
          Theories of acids and bases		
        %li
          %span 8.2
          Properties of acids and bases	
        %li
          %span 8.3
          Strong and weak acids and bases	
        %li
          %span 8.4
          The pH scale					
         	    						
    %li
      %span 9
      %a(href="#") Oxidation and reduction
      %ol
        %li
          %span 9.1
          Introduction to oxidation and reduction	
        %li 
          %span 9.2
          Redox equations							
        %li
          %span 9.3
          Reactivity	 	 
        %li
          %span 9.4
          Voltaic cells	 	 
        %li
          %span 9.5
          Electrolytic cells	 	 
        	 
    %li
      %span 10
      %a(href="#") Organic chemistry
      %ol
        %li
          %span 10.1
          Introduction		
        %li
          %span 10.2
          Alkanes				
        %li
          %span 10.3
          Alkenes				
        %li
          %span 10.4
          Alcohols			
        %li
          %span 10.5
          Halogenoalkanes		
        %li
          %span 10.6
          Reaction pathways	
        	 
    %li
      %span 11
      %a(href="#") Measurement and data processing
      %ol
        %li
          %span 11.1
          Uncertainty and error in measurement	 	 
        %li
          %span 11.2
          Uncertainty in calculated results	 	 
        %li 
          %span 11.3
          Graphical techniques
          
  %ol(class="higher")
    %li(class="title") Higher Level            	 
    %li
      %span 12
      %a(href="#") Atomic structure
      %ol
        %li
          %span 12.1
          Electron configuration
        	 
    %li
      %span 13
      %a(href="#") Periodicity
      %ol
        %li
          %span 13.1
          Trends across period 3
        %li
          %span 13.2
          First row "d" block elements
        	 
    %li
      %span 14
      %a(href="#") Bonding
      %ol
        %li
          %span 14.1
          Shapes of molecules and ions
        %li
          %span 14.2
          Hybridisation
        %li
          %span 14.3
          Delocalisation of electrons
        	 
    %li
      %span 15
      %a(href="#") Energetics
      %ol
        %li
          %span 15.1
          Standard enthalpy changes of reaction
        %li
          %span 15.2
          Born-Haber cycle
        %li
          %span 15.3
          Entropy
        %li
          %span 15.4
          Spontaneity
        	 
    %li
      %span 16
      %a(href="#") Kinetics
      %ol
        %li
          %span 16.1
          Rate expression
        %li
          %span 16.2
          Reaction mechanism
        %li
          %span 16.3
          Activation energy
         	  	 
    %li
      %span 17
      %a(href="#") Equilibrium
      %ol
        %li
          %span 17.1
          Liquid-vapour equilibrium
        %li
          %span 17.2
          The equilibrium law
         	  	 
    %li
      %span 18
      %a(href="#") Acids and Bases
      %ol
        %li
          %span 18.1
          Calculations involving acids and bases
        %li
          %span 18.2
          Buffer solutions
        %li
          %span 18.3
          Salt hydrolysis
        %li
          %span 18.4
          Acid-base titrations
        %li
          %span 18.5
          Indicators
         	  	 
    %li
      %span 19
      %a(href="#") Oxidation and reduction
      %ol
        %li
          %span 19.1
          Standard electrode potentials
        %li
          %span 19.2
          Electrolysis
         	  	 
    %li
      %span 20
      %a(href="#") Organic chemistry
      %ol
        %li
          %span 20.1
          Introduction
        %li
          %span 20.2
          Nucleophilic substitution reactions
        %li
          %span 20.3
          Elimination reactions
        %li
          %span 20.4
          Condensation reactions
        %li
          %span 20.5
          Reaction pathways
        %li
          %span 20.6
          Stereoisomerism
