!!! 5

%html

  %head
    
    %title Wasatch Education : Charles&rsquo; Law
    
    = Haml::Engine.new(File.read('/Volumes/Macintosh HD/Applications/MAMP/htdocs/wasatch/_header.html.haml')).render
  
  %body
    %header
      %p(class="sign-in")
        %span Student Name
        %a(href="index.html") Sign&nbsp;out
      %nav
        %a.first(href="dashboard.html") Dashboard
        %a My account
      %h1(class="main") 
        %a(href="index.html") Wasatch Education
 
    .main
      %section(class="video")
        %div(class="video")
          %iframe(src="http://player.vimeo.com/video/50351160" width="100%" height="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen)
          
        %a.prev 
          Previous:
          %span 1.4.4 Avogadro's Law

        %a.next
          Next:
          %span 1.4.4 Boyle's Law
  
      %section(class="study-guide")
        %h2 Study Guide
        %a(href="#" class="btn btn-success btn-large study-guide") 
          Download Study Guide
          %div Charles&rsquo; Law
  
      %section(class="related")
        %h2 Related Topics
        .related
          %ol
            %li.video 
              %a(href="molar.html") Mole concept
            %li.video Avogadro's Law
            %li.video Boyle's Law
            %li.video 
              %a(href="ideal.html") Ideal Gas Law
            %li.problems Ideal Gas Problems
    
      = Haml::Engine.new(File.read('/Volumes/Macintosh HD/Applications/MAMP/htdocs/wasatch/_map.html.haml')).render
    
    %footer
      %p &copy; Copyright 2012
  
    %script(src="js/jquery.min.js")
    %script(src="mediaelement/build/mediaelement-and-player.min.js")
    %script(src="js/plugins.js")
    %script(src="js/script.js")
    
  