| <?php 
    $c = '';
    $u = '';
    $p = '';
    
    // If $c is set
    if(isset($_GET['c'])) { 
      $c = $_GET['c'];
    }
    
    // If username or password have been sent
    if(isset($_POST['u'])) { 
      $u = $_POST['u'];
      $u = strtolower($u);
      $u = trim($u);
    }
    if(isset($_POST['p'])) { 
      $p = $_POST['p'];
      $p = strtolower($p);
      $p = trim($p);
    }
    
    // If username or password matches ap, a or ib
    if($u == 'a' || $u == 'ap' || $u == 'ib') {
      $c = $u;
    } else if ($p == 'a' || $p == 'ap' || $p == 'ib') {
      $c = $p;
    } else {
      // Nothing
    }
  ?>
doctype html
html
  head
    title = @title
    
    meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"
    meta name="viewport" content="width=device-width"
    
    link rel="stylesheet" href="css/mobile.css"
    link rel="stylesheet" href="css/bootstrap-all.css"
    link rel="stylesheet" href="css/style.css" media="all and (min-width:1px)"
    
    - if @css_file
      link rel="stylesheet" media="all and (min-width:1px)" href="css/#{@css_file}.css"
    
    script src="http://use.typekit.com/qmd4aav.js" type="text/javascript"
    
    javascript:
      try { Typekit.load(); } catch(e) { alert(e) }
    
    script src="js/modernizr.js"
    
  body
  
    header
      - if @auth == false
        p.sign-in
          a href="#" Sign in
    
        nav
          - unless @title == "Pricing"
            a.first href="pricing.php" Plans & Pricing
  
      - else
        p.sign-in
          span Student Name
          a href="index.php" Sign out
    
        nav
          - unless @title == "My Dashboard"
            a.first href="dashboard.php" Dashboard
          a My account
      
      #sign-in
        form action="dashboard.php" method="post"
          input type="text" placeholder="username" name="u" id="login_user"
          input type="password" placeholder="password" name="p" id="login_pwd"
          button.btn.btn-primary.btn-large type="submit" value="Sign in" Sign in
          |  
          a.btn.close-signin href="#" 
            i.icon-remove
      
      h1.main
        a href="index.php" Wasatch Education
  
    
    .main
      == yield
    
    footer
      p &copy; Copyright 2012
    
    | <?php echo "<script>
        var c = '" . $c . "';
      </script>"; ?>
    script src="js/jquery.min.js"
    script src="js/plugins.js"
    script src="js/script.js"
    
    - if @script_file
      script src="js/#{@script_file}.js"
      
      
    javascript:
      var curriculum = "";
      if (c == 'ap') {
        curriculum = 'AP';
      } else if (c == 'ib') {
        curriculum = 'IB';
      } else if (c == 'a') {
        curriculum = 'A Level';
      }
      
      $(function(){
        var title = $('title');
        var h1 = $('h1.main');
        var map = $('.study-map');
        var links = $('a');        
        
        // Insert correct curriculum map
        if (curriculum !== "") {
          title.html(curriculum + ": " + title.html());
          h1.prepend('<div class="wasatch">Wasatch Education</div>').find('a').html(curriculum + " Chemistry");
          links.each(function(){
            var a = $(this);
            var url = a.attr('href');

            if(url !== undefined) {
                          
              var php = url.indexOf('.php');
              var query = url.indexOf('?');
              
              if(php != -1) {
                if(query != -1) {
                  url = url + "&c=" + c;
                } else {
                  url = url + "?c=" + c;
                }
                a.attr('href', url);
              }
            }
          });
        }
        
        if(curriculum !== "" && map.size() > 0 ) {
          var mapUrl = c + "_dashboard.html";
          map.load(mapUrl + ' #study-map', function(response, status, xhr){
            if (status == "error") {
              log(response);
              return false;
            } else {
              $('#study-map').unwrap();
              initializeStudyMap();
            }
          });
        }
      });